<table class="uk-table" *ngIf="authors">
    <caption>Authors:</caption>
    <thead>
    <tr>
        <th>#</th>
        <th>author name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let author of authors">
        <td>{{ author.author_id }}</td>
        <td>{{ author.name }}</td>
        <td class="uk-text-right">
            <a [routerLink]="getEditLink(author.author_id)" class="uk-button uk-button-primary">
                <i class="uk-icon uk-icon-edit"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<paginator [resource]="paginatorResource" (onChangePage)="pageChanged($event)"></paginator>
