<div class="uk-grid">
    <div class="uk-width-3-4">
        <router-outlet></router-outlet>
    </div>

    <div class="uk-width-1-4">
        <ul class="uk-nav uk-nav-side">
            <li class="uk-nav-header">Author Menu</li>
            <li class="uk-nav-divider"></li>
            <li routerLinkActive="uk-active"><a [routerLink]="[parentPath, 'list']">Author list</a></li>
            <li routerLinkActive="uk-active">
                <a [routerLink]="[parentPath, 'form']" id="author-menu-add">Add author</a>
            </li>
        </ul>
    </div>
</div>
