blinker==1.4
celery==4.0.2
click==6.7
Faker==0.7.3
fixture==1.5.9
Flask==0.12
Flask-Fixtures==0.3.7
Flask-Restless==0.17.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
mimerender==0.6.0
mixer==5.6.6
python-dateutil==2.6.0
python-mimeparse==1.6.0
six==1.10.0
SQLAlchemy==1.1.6
Werkzeug==0.12.1
