<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small" [routerLink]="['home']">Flask Library</a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <li>
                <a [routerLink]="['/author']">Authors</a>
            </li>
            <li>
                <a [routerLink]="['/book']">Books</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>