<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <nav class="uk-navbar uk-margin-large-bottom">
        <a class="uk-navbar-brand uk-hidden-small" [routerLink]="['']">Flask Library</a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <li routerLinkActive="uk-active" *ngFor="let menu of main_menu">
                <a [routerLink]="menu.path" id="author-menu-link">{{ menu.title }}</a>
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>