<div class="uk-grid">
    <div class="uk-width-3-4">
        <table class="uk-table">
            <caption>Authors:</caption>
            <thead>
            <tr>
                <th>author name</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="2">...</td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <td>...</td>
                <td>...</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="uk-width-1-4">
        <ul class="uk-nav uk-nav-side">
            <li class="uk-nav-header">Author Menu</li>
            <li class="uk-nav-divider"></li>
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
        </ul>
    </div>
</div>
