<div class="uk-grid">
    <div class="uk-width-3-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, aspernatur consectetur
        dicta doloribus eaque fugit ipsum iure iusto necessitatibus numquam odit quibusdam repellat suscipit tempora
        veniam! Consectetur error quasi veritatis.
    </div>

    <div class="uk-width-1-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, cumque dignissimos ea eius et eum eveniet in
        labore magni nisi nostrum nulla officia quibusdam, rem sequi soluta, vero voluptates!
    </div>
</div>
